<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../controllers/authentication.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 mx-auto">Movie List</h1>
            </div>

        </div>

        <div class="row">
            <div class="col-12 text-right mb-4">
                <button class="btn btn-success" data-toggle="modal" data-target="#addMovie">Add Movie</button>
            </div>
        </div>

        <div class="row" id="movieListContent">

           
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="pageNumber">
              
            </ul>
          </nav>
    </div>

    <div class="modal fade" id="addMovie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Movie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name: </label>
                        <input id="txtNameMovie" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>ID: </label>
                        <input id="txtIdMovie"  type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Alias: </label>
                        <input id="txtAlias" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Trailer: </label>
                        <input id="txtTrailer" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Image: </label>
                        <input id="txtImage" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Description: </label>
                        <textarea id="txtDes" type="text" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>GroupID: </label>
                        <input id="txtGroup" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Release Date: </label>
                        <input id="txtDate" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Rating: </label>
                        <input id="txtRating" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="../models/movieList.js"></script>
    <script src="../models/movie.js"></script>
    <script src="../controllers/index.js"></script>

</body>

</html>